<!-- This is the markup for the whitie banner at the top of each page -->

<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">

    <!-- This page's stylehseet -->
    <link rel="stylesheet" href="../css/style.css">

<style>
    #banner {
    background-color: white;
    float: top;
    height: 40px;
    border: 1px solid darkgray; 
    box-shadow: 0 10px 5px black;
    font-size: 16px;
    font-weight: bold;
    color: grey;   
    }

    .user-message{
     float: right;
     margin-right: 5px;
     margin-top: 10px;
     padding-right: 2%;
    }

    .custom-button {
    float: right;
    cursor: pointer;
    height: 100%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    }

    #log-out {
     background-color: white;
     padding-left: 5px;
    }

    .right-float-padding {
        float: right;
        background-color: white;
        width: 2%;
        height: 100%;
    }
</style>

<div id ="banner">
    <p id="class-message">CIS 4301 Database Group 03</p>
    <!-- Checks if a session is going on and will display their name if it is -->
    <% if (user) {%>
        <div class="right-float-padding" id="inv-pad"></div>
        <div class="custom-button noselect" id="log-out"><span>Log out</span></div>
        <div class="custom-button noselect" id="home-page"><span>Home Page</span></div>
        <div class="user-message">Hello, <%= user %>!</div> 
    <% } else { %>
        <div class="user-message">Welcome!</div>
    <% } %>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" 
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>

<script>
$('.custom-button').mouseenter(function() {
    //On-hover
    $(this).css("background-color", "lightgray");
}).mouseleave(function() {
    //On-leave
    $(this).css("background-color", "white")
});

$('#log-out').click(function() {
   $.ajax({type: "POST",
            url: "/logout",
            data: { },
            success:function(result) { 
                window.location = '/';
            },
            failure:function(result) {
                alert("error: connection failure");
            }
    });
});

$('#home-page').click(function() {
    window.location = '/';
})
</script>



</html>