<!DOCTYPE html>
<html>
  <head>
    <title>Map of Florida</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <style>
     #map {
       height: 75%;
       width: 60%;
       margin: auto;
       border: 3px solid black;
     }
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
    }
    #googft-mapCanvas {
     height: 300px;
     margin: 0;
     padding: 0;
     width: 500px;
    } 

  </style>

  
  <%- include banner.ejs %>
  <body>
    <h1>COUNTY MAP:</h1>
    <div id="map"></div>
    <script>

      var test;

      $(document).ready(function() {
          $.ajax({type: "POST",
            url: "/map",
            data: {},
            success:function(result) { 
                test = result;
            },
            error:function(result) {
                alert("error: connection failure");
            }
         });
      });
      
      var locations = [
        {lat: 27.729068, lng: -83.142372},
        {lat:  26.5, lng: -83.14}
        ];


      var map;
      function initMap() {
          google.maps.visualRefresh = true;
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 27.729068, lng: -83.142372},
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          });

          disableDoubleClickZoom: true

          map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(document.getElementById('googft-legend-open'));
          map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(document.getElementById('googft-legend'));
          
          var mapDiv = document.getElementById('googft-mapCanvas');
          layer = new google.maps.FusionTablesLayer({
            map: map,
            heatmap: { enabled: false },
            query: {
              select: "col4",  
              from: "1xdysxZ94uUFIit9eXmnw1fYc6VcQiXhceFd_CVKa",
              where: "col3 contains ignoring case \x27FL-\x27"
            },
            options: {
            styleId: 307,
            templateId: 340
            }
          });
          
          var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            }); 
          });

          
          // Add a marker clusterer to manage the markers.
          var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      // Add an event listener on the rectangle.
      rectangle.addListener('bounds_changed', showNewRect);
    }
  google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6aD2T35qY3VhMS0zMMblK0l6KRIFvHRI&callback=initMap"
    async defer></script>
    
  </body>
</html>
