<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Query Runner</title>
</head>
<body>
    <form method="POST" action="/test">
        <input type="text" name="query" placeholder="Enter SQL query (no semi colon)">
        <button type="submit">Submit
    </form>
</body>
</html>


